<section class="contactPage">
    <div class="contactContent">
      <h2>PRODUCTOS</h2>
      <p>AQUI PUEDES AGREGAR LOS PRODUCTOS A LA API</p>
    </div>
    <div class="contactContainter">
      <div class="contactInfo">
        <div class="box">
      <div class="contactForm">
    <form action="/api/productos" method="post">
      <h2>DATOS PARA AGREGAR</h2>
         Tittle
        <input type="text"  required="required"name="Tittle">
      
        Price 
        <input type="number" required="required" name="Price">
      
        Thumbnail
        <input type="file" name="thumbnail"></input>
             
        <input type="submit" name="" value="Agregar producto">
      
      
    </form>
  </div>
  
    </div>
  </section>
