<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>PRODUCTOS</h1>
    <form action="/api/productos" method="post">
      Tittle <input type="text" name="tittle" /> <br /><br />
      Price: <input type="text" name="price" /> <br /><br />
      Thumbnail: <input type="text" name="thumbanil" /> <br /><br />

      <button type="submit">Agregar producto</button>
    </form>
  </body>
</html>
