
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
        />
        <link rel="stylesheet" href="./styles.css" />
        <title></title>
      </head>
      <body>
        <header>
          <%- include ("./partials/header.ejs")%>
<div class="container">
        <div class="field">
            <label class="label mt-6">Nombre</label>
            <form action="/login" method="post" class="control has-icons-left has-icons-right">
                <input class="input is-success mt-3" type="text" required name="nombre" placeholder="Ingresa tu nombre" >
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <label class="label mt-6">Email</label>
                <form action="/login" method="post" class="control has-icons-left has-icons-right">
                    <input class="input is-success mt-3" type="email" required name="email" placeholder="Ingresa tu email" >
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                <button type="submit" class="button is-primary mt-3" onclick="location.href='/home'"> Enviar</button>
            </form>
            </div>
        </div>
   </div>
   </header>
      </body>
    </html>
