* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --back-color: #000;
  --main-color: #1414;
  --second-color: #fff;
  --three-color: #1212;
}

/* NAV */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--back-color);
  height: 100px;
}
#menuPrincipal,
#menuPrincipal li {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}
#menuPrincipal li {
  padding: 0 20px;
  color: var(--second-color);
}
.sectionSignUp {
  display: flex;
  flex-direction: column;
}
.btnSignUp {
  background: blueviolet;
  margin: 5px 5px;
  border-radius: 0.5rem;
  border: none;
  color: white;
  padding: 20px;
  transition: 0.3s;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: var(--back-color);
  margin-top: 2rem;
}
.productSection {
  background-color: var(--second-color);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* FORM */
.formularioAgregar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 40px;
}
.formularioAgregar input {
  border: 1px solid var(--main-color);
  padding: 10px;
  border-radius: 8px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.button.is-primary {
  width: 200px;
}
.center,
.sectionMessages {
  display: grid;
  place-content: center;
  margin-top: 1rem;
  background-color: var(--three-color);
}
.sectionMessages {
  padding-bottom: 20px;
}
.sectionMessages input {
  margin: 10px;
}
table {
  width: 100vw;
  border: 1px solid black;
  margin: 5px;
}
th {
  color: var(--back-color);
}

.filas {
  border: 1px solid black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
}

.columnas {
  border: 1px solid black;
}

label {
  font-size: 1rem;
  color: white;
}

#btnAddProduct,
#btnMensajes {
  background-color: var(--main-color);
  border-radius: 0.5rem;
  border: none;
  margin-top: 0.5rem;
  color: white;
  padding: 20px;
  transition: 0.3s;
}
#btnMensajes {
  padding: 5px;
}

#btnAddProduct:hover,
#btnMensajes:hover {
  transform: scale(1.1);
  background-color: var(--back-color);
  color: var(--second-color);
}

.nuevosMensajes {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.2rem;
}

.botonMensajes {
  height: 5vh;
  width: 20vw;
}

.mail {
  color: aqua;
}

.fecha {
  color: red;
}

.mensaje {
  font-weight: bold;
}
