<section class="contactPage">
  <div class="contactContent">
      <h2>PRODUCTOS</h2>
      <p>AQUI PUEDES AGREGAR LOS PRODUCTOS A LA API</p>
  </div>
  <div class="contactContainter">


  <div class="contactForm">
    <form action="/api/productos" method="post">
      <h2>DATOS PARA AGREGAR</h2>
         <div class="inputBox"> Tittle
            <input type="text"  required="required"name="Tittle" id="prodTitle">
          
          </div>
        <div class="inputBox">  Price 
            <input type="number" required="required" name="Price" id="prodPrice">
         
        </div>
            <input type="file" name="photo" id="prodPhoto"></input>
        
        <div class="inputBox">
          <input type="submit" name="" id="button" value="Agregar producto">
        </div>
    </form>
  </div>
  </div>

  </section>
