<div id="messagesCenter">
  <div id="messages"></div>
  <div class="inputBox">
    <textarea
      id="texto"
      name="message"
      required="required"
      placeholder="Type your Message..."
    ></textarea>
    <button
      id="enviar"
      class="button is-danger is-light"
      style="margin-top: 15px"
    >
      Enviar
    </button>
  </div>
</div>
