<% if(productos.length>0) { %>
<div class="tableContainer">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <% productos.forEach(producto =>{ %>
    <tbody>
      <tr>
        <td><%= producto.title %></td>
        <td><%= producto.price %></td>
        <td>
          <img
            src="<%= producto.thumbnail %>"
            alt="<%= producto.title %>"
            class="imgProd"
          />
        </td>
      </tr>
    </tbody>
    <% }) %>
  </table>
</div>
<% } %> <% if(productos.length<1) { %>
<div class="noProdsMessage">
  <p>There are no products</p>
</div>
<%} %>
